body {
  background-color: #D9EEF3;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.quote-container {
  margin: 0 auto;
  width: 500px;
  text-align: left;
  background-color: white;
  padding: 2px 15px;
  border-radius: 5px;
}

.typingContainer {
  margin-top: 10px;
}

.highlight {
  background-color: yellow;
}

.highlight-green {
  color: green;
}

.error {
    background-color: lightcoral;
    border: red;
}

.modal-parent {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.messageModal {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 10% auto;
    background-color: white;
}

.successMessage {
    color: green;
    padding-top: 70px;
}

.close {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
    padding-right: 5px;
}

.close:hover,
.close:focus {
    cursor: pointer;
    font-weight: bolder;
}

.highScoreStyle {
  display: none;
  width: 100%;               
  border-collapse: collapse; 
  margin: 50px auto;            
  text-align: center;       
}

.highScoreStyle th,
.highScoreStyle td {
    padding: 20px;             /* Add padding for spacing */
    border: 1px solid #ddd;    /* Add borders for clarity */
    background-color: white;
}

.clearScoreBtn {
  display: none;
}

